/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
  Fonts
  ========================================================================== */

  @import url('https://fonts.googleapis.com/css?family=Arima+Madurai:900|Raleway|Comfortaa:700');


/* ==========================================================================
  Base styles: opinionated defaults
  ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/*
 * Stylish text fonts for headings and paragraphs
 */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Arima Madurai', cursive;
}

html, body, div, span, section, p, a, ul, ol, li, input, textarea, dl, dd, dt, table, caption, figcaption, figure, button, article, address, pre {
  font-family: 'Raleway', sans-serif;
}

/* ==========================================================================
  Browser Upgrade Prompt
  ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
  Author's custom styles
  ========================================================================== */

  /* hide horizontal scrollbars, since we use the vertical ones to scroll to the right */
  body {
    overflow-x: hidden;
    background-color: #f3f0ec;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    height: 56px;
    width: 100%;
    overflow: hidden;
    z-index: 750;
  }

  .main-content {
    overflow-y: auto;
  }

  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 750;
    background-color: #f8f9fa !important;
  }

  .company-name {
    font-weight: 700;
    color: #3F7E29;
  }

  .footer-social-nav .list-inline-item {
    height: 34px;
    width: 34px;
    line-height: 34px;
    text-align: center;
    border-radius: 50%;
    transition: all ease-in 0.3s;
    background-color: #3F7E29;
  }

  .fb-bg:hover {
    background-color: #4868A5;
  }

  .twitter-bg:hover {
    background-color: #00A2EC;
  }

  .gplus-bg:hover {
    background-color: #EF403B;
  }

  .footer-social-nav li a {
    color: #fff;
  }

  @media only screen and (max-width: 575px) {
    .copyright-act {
      margin-bottom: .5rem;
    }
    .copyright-act p, .copyright-act span { font-size: 0.8rem; }
  }

  .heading-bottom-border {
    position: relative;
        font-size:26px;
  }

  .heading-bottom-border::after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    content: '';
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  }

  .container-fluid {
    max-width: 1800px;
  }

/* ==========================================================================
  Landing Page styles
  ========================================================================== */

.landing-tile-wrapper {
  height: auto;
  width: 100%;
}

.landing-tile {
  width: 100%;
  height: auto;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
  box-shadow: 1px 1px 1px #1f2fff;
  z-index: 1;
}

.tile-title {
  font: 40px 'Comfortaa';
  margin-top: 0.5rem;
  color: #0fe0ff;
  text-shadow: 0px 1px 1px #0fd0ff;
  letter-spacing: 5px;
  text-transform: uppercase;
  transition: color ease-in-out 0.4s;
}

.landing-tile:hover {
  cursor: pointer;
  z-index: 11;
  box-shadow: 3px 3px 8px #1f2fff;
}

.landing-tile:hover .tile-title {
  color: #fefefe;
  text-shadow: 0px 1px 1px #fbfbfb;
}

.landing-tile > .fa {
  color: #0fe0ee;
  text-shadow: 0px 1px 1px #0fd0f1;
  font-size: 3rem;
  transition: color ease-in-out 0.4s;
  margin-bottom: 1rem;
}

.landing-tile:hover .fa {
  color: #fefefe;
  text-shadow: 0px 1px 1px #fbfbfb;
}

.tile-home {
  background: url('../img/bg2.jpg') center center scroll;
  background-size: cover;
}

.tile-about {
  background: url('../img/bg6.jpg') center center scroll;
  background-size: cover;
}

.tile-services {
  background: url('../img/bg1.jpg') center center scroll;
  background-size: cover;
}

.tile-products {
  background: url('../img/bg3.jpg') center center scroll;
  background-size: cover;
}

.tile-portfolio {
  background: url('../img/bg4.jpeg') center center scroll;
  background-size: cover;
}

.tile-contact {
  background: url('../img/bg5.jpg') center center scroll;
  background-size: cover;
}

.tile-home .landing-tile {
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

.tile-about .landing-tile {
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}

.tile-services .landing-tile {
background-image: linear-gradient(to top, #9795f0 0%, #fbc8d4 100%);
}

.tile-products .landing-tile {
  background-image: linear-gradient(-20deg, #6e45e2 0%, #88d3ce 100%);
}

.tile-portfolio .landing-tile {
 background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
}

.tile-contact .landing-tile {
  background-image: linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%);
}

/* ==========================================================================
  Navigation Styles
  ========================================================================== */

  .nav-link {
    font-size: 18px;
    font-weight: 600;
  }

  @media only screen and (max-width: 991px) {
    #technoUniverseNavbar {
      position: fixed;
      background-color: #f8f9fa !important;
      width: 100%;
      left: 0;
      top: 56px;
      right: 0;
      padding-left: 2rem;
    }
  }

  @media only screen and (max-width: 500px) {
    .header .navbar-brand img { max-width: 210px; }
  }

/* ==========================================================================
  Home Page Styles
  ========================================================================== */

  #techno-home-main {
    margin-top: 56px;
  }

  #fullpage section {
    text-align: center;
  }

  #first-section .fp-tableCell {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 66px;
  }

  #first-section .content-top {
    margin-bottom: 2rem;
  }

  #first-section .content-bottom {
    margin-bottom: 2rem;
  }

  #second-section .fp-tableCell, #third-section .fp-tableCell {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 66px;
  }

  .section-img {
    transition: all ease-in 0.4s;
  }

  .section-title {
    font-size: 3.0em;
    color: #005bea;
    line-height: 5rem;
    transition: all ease-in 0.4s;
  }

  .section-subtitle {
    font-size: 2.5rem;
    color: #0fe0ee;
    transition: all ease-in 0.5s;
    margin-top: 1rem;
  }

  #first-section, #second-section, #third-section, #fourth-section {
    /* background-image: linear-gradient(90deg, #fdfcfb 0%, #e2d1c3 100%); */
    width: 100%;
  }

  @media only screen and (max-width: 767px) {
    .section-title { font-size: 1.5rem; line-height: 2rem; }
    .section-subtitle { font-size: 1rem; margin-top: 0.4rem; }
    .section-img { width: 80%; }
    .section-content { display: none; }
    #second-section .fp-tableCell, #third-section .fp-tableCell {
      flex-flow: column nowrap;
      justify-content: center;
    }
  }

  @media only screen and (max-width: 575px) {
    #first-section .fp-tableCell, #second-section .fp-tableCell, #third-section .fp-tableCell {
      padding-bottom: 93px;
    }
  }

/* ==========================================================================
  About Us Page Styles
  ========================================================================== */

  /**
    * important: keep position fixed, you can however use top:0 instead of bottom:0
    * if you want to make it stick to the top of the browser
    */
  .scroll {
    position: fixed;
    bottom: 0;
    left: 0;
  }

  .horizon {
    line-height: 0;
    z-index: 100;
    width: 3000px;
  }

  .middle {
    z-index: 250;
    line-height: 0;
    width: 4500px;
  }

  .front {
    z-index: 500;
    top: 100px;
    width: 6000px;
  }

  .intro {
    position: absolute;
    left: 400px;
    top: 0px;
    padding-right: 50px;
  }

  .page {
    top: 0px;
    width: 700px;
    background: #fff;
    padding: 10px 30px;
    border: 1px #eee solid;
    box-shadow: 1px 2px 4px #ddd;
    position: absolute;
  }

  .about-vertical-one {
    left: 1500px;
  }

  .about-vertical-two {
    left: 2700px;
  }

  .about-more {
    left: 3900px;
  }

  .about-team {
    left: 5100px;
  }

  @media only screen and (max-width: 768px) {
    .scroll {
      position: initial;
    }

    .horizon {
      display: none;
    }

    .middle {
      display: none;
    }

    .front {
      margin-top: 75px;
      padding: 0 1rem;
      width: 100%;
    }

    .intro {
      position: initial;
      padding: 0;
      margin-bottom: 2rem;
    }

    .intro-title {
      font-size: 1.2rem;
    }

    .intro-subtitle {
      font-size: 1.5rem;
    }

    .page {
      width: 100%;
      background: #fff;
      padding: 1.5rem;
      position: initial;
      margin-bottom: 2rem;
    }

    .about-team {
      margin-bottom: 8rem;
    }
  }

/* ==========================================================================
  Services Page Styles
  ========================================================================== */

  #techno-services-main {
    margin-top: 56px;
    background-color: #f3f0ec;
    z-index: 11;
    box-shadow: 1px 1px 4px 2px #eee;
  }

  #techno-services-main .card {
    border-radius: 14px !important;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  #techno-services-main .card:hover {
    z-index: 11;
    box-shadow: 2px 2px 4px 2px #ddd;
    transform: scale(1.05);
  }

  .services-container {
    padding: 1rem;
  }

  .services-container .card .card-body {
    position: relative;
  }

  .service-img {
    border-radius: 14px 14px 0 0 !important;
  }

  #service1 {
    background-image: linear-gradient(-225deg, #5271C4 0%, #B19FFF 48%, #ECA1FE 100%);
  }

  #service2 {
    background-image: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);
  }

  #service3 {
    background-image: linear-gradient(-225deg, #69EACB 0%, #EACCF8 48%, #6654F1 100%);
  }

  .btn-know-more {
    background-color: #4184ce;
    color: #fefefe;
    box-shadow: 1px 1px 1px #3789e4;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 50%;
    bottom: -19px;
  }

  @media only screen and (max-width: 767px) {
    .services-container .card-group {
      flex-flow: column nowrap;
      margin-bottom: 76px;
    }

    .services-container .card {
      margin-bottom: 2rem;
    }
  }

/* ==========================================================================
  Products Page Styles
  ========================================================================== */

  #techno-product-main {
    margin-top: 56px;
    background-color: #f3f0ec;
  }

  .product-container {
    position: relative;
    padding: 1rem;
    overflow-y: auto;
  }

  #product1 {
    background-color: #fb8532 !important;
    width: 275px;
    height: 275px;
    top: 15%;
    left: 15%;
    transition: all ease-out 0.5s;
    box-shadow: 4px 4px 16px 4px #fc7820;
    padding: 4.5rem;
  }

  #product2 {
    background-color: #0366d6 !important;
    width: 225px;
    height: 225px;
    top: 20%;
    right: 20%;
    transition: all ease-out 0.5s;
    box-shadow: 4px 4px 16px 4px #035fc1;
    padding: 2.5rem;
  }

  #product3 {
    background-color: #6f42c1 !important;
    width: 205px;
    height: 205px;
    top: 58%;
    left: 40%;
    transition: all ease-out 0.5s;
    box-shadow: 4px 4px 16px 4px #6637bf;
    padding: 2.2rem;
  }

  .product {
    border-radius: 50%;
    color: #fefefe;
    position: absolute;
    cursor: pointer;
    text-align: center;
    display: inline-block;
  }

  #product1.active, #product2.active, #product3.active {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    z-index: 11;
  }

  .product-content {
    display: none;
  }

  .product.active .product-content {
    display: initial;
  }

  @media only screen and (max-width: 768px) {
    .product-container {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      margin-bottom: 76px;
    }

    .product {
      position: initial;
      margin-bottom: 2rem;
    }

    .product.active {
      padding: 1.5rem !important;
    }
  }


/* ==========================================================================
  Portfolio Page Styles
  ========================================================================== */

  #techno-portfolio-main {
    margin-top: 56px;
  }

  .folio-container {
    overflow-x: auto;
    margin-bottom: 66px;
  }

  .folio-one {
    background: url('../img/bubble1.jpg') center center scroll;
    /* background-color: #cecece; */
  }

  .folio-two {
    background: url('../img/bubble2.jpg') center center scroll;
    /* background-color: #dedede; */
  }

  .folio-three {
    background: url('../img/bubble3.jpg') center center scroll;
    /* background-color: #eee; */
  }

  .folio-four {
    background: url('../img/bubble4.jpg') center center scroll;
    /* background-color: #ddd; */
  }

  .folio-five {
    background: url('../img/bubble5.jpg') center center scroll;
    /* background-color: #eee; */
  }

  .folio-six {
    background: url('../img/bubble6.jpg') center center scroll;
    /* background-color: #f9f9f9; */
  }

  .folio {
    background-size: cover;
    transition: all ease-in-out 0.4s;
    overflow-y: auto;
  }

  .folio-head {
    writing-mode: vertical-rl;
  }

  .folio-title {
    /* writing-mode: vertical-rl; */
    transform: rotate(180deg);
    transition: all ease-in 0.4s;
    font-size:26px;
  }

  .folio-content {
    display: none;
    transition: all ease-in 0.4s;
  }

  .folio-img-box {
    display: none;
    transition: all ease-in 0.4s;
  }

  .folio:hover {
    flex: 0 0 30%;
    max-width: 30%;
  }

  .folio:hover .folio-head {
    writing-mode: horizontal-tb;
  }

  .folio:hover .folio-title {
    /* writing-mode: horizontal-tb; */
    transform: rotate(0deg);
  }

  .folio:hover .folio-content {
    display: initial;
  }

  .folio:hover .folio-img-box {
    display: initial;
  }

  @media only screen and (max-width: 767px) {
    .folio:hover {
      flex: 0 0 50%;
      max-width: 50%;
    }

    .folio-container {
      margin-bottom: 76px;
    }
  }

/* ==========================================================================
  Contact Us Page Styles
  ========================================================================== */

  #techno-contact-main {
    margin-top: 56px;
    margin-bottom: 66px;
    background-image: linear-gradient(-20deg, #ddd6f3 0%, #faaca8 100%, #faaca8 100%);
  }

  @media only screen and (max-width: 575px) {
    margin-bottom: 90px;
  }

/* ==========================================================================
  Author's custom animation
  ========================================================================== */

  .radial-in {
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition: color 300ms;
    transition: color 300ms;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  .radial-in::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(10, 110, 210, 0.7);
    border-radius: 100%;
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition: 300ms ease-out;
    transition: 300ms ease-out;
  }

  .radial-in:hover::before {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  .shutter-in-vertical {
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%) !important;
    -webkit-transition: color 300ms;
    transition: color 300ms;
    position: relative;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
  }

  .shutter-in-vertical::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url('../img/bg1.jpg') center center scroll;
    background-size: cover;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition: 300ms ease-out;
    transition: 300ms ease-out;
  }

  .shutter-in-vertical:hover::before {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }

  .sweep-to-top {
    position: relative;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: color 1000ms;
    transition: color 1000ms;
  }

  .sweep-to-top::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2098d1;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition: 300ms ease-out;
    transition: 300ms ease-out;
  }

  .sweep-to-top:hover::before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }

  .cp-spinner{width:48px;height:48px;display:inline-block;box-sizing:border-box;position:relative}.cp-skeleton{border-radius:50%;border-top:solid 6px #f56151;border-right:solid 6px transparent;border-bottom:solid 6px transparent;border-left:solid 6px transparent;animation:cp-skeleton-animate 1s linear infinite}.cp-skeleton:before{border-radius:50%;content:" ";width:48px;height:48px;display:inline-block;box-sizing:border-box;border-top:solid 6px transparent;border-right:solid 6px transparent;border-bottom:solid 6px transparent;border-left:solid 6px #f56151;position:absolute;top:-6px;left:-6px;transform:rotateZ(-30deg)}.cp-skeleton:after{border-radius:50%;content:" ";width:48px;height:48px;display:inline-block;box-sizing:border-box;border-top:solid 6px transparent;border-right:solid 6px #f56151;border-bottom:solid 6px transparent;border-left:solid 6px transparent;position:absolute;top:-6px;right:-6px;transform:rotateZ(30deg)}@keyframes cp-skeleton-animate{0%{transform:rotate(0);opacity:1}50%{opacity:.7}100%{transform:rotate(360deg);opacity:1}}


/* ==========================================================================
  Helper classes
  ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  -webkit-clip-path: none;
  clip-path: none;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
      (-webkit-min-device-pixel-ratio: 1.25),
      (min-resolution: 1.25dppx),
      (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *::before,
    *::after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]::after {
        content: " (" attr(href) ")";
    }

    abbr[title]::after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]::after,
    a[href^="javascript:"]::after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
