/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
  Fonts
  ========================================================================== */

  @import url('https://fonts.googleapis.com/css?family=Arima+Madurai:900|Cookie|Raleway');


/* ==========================================================================
  Base styles: opinionated defaults
  ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/*
 * Stylish text fonts for headings and paragraphs
 */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cookie', cursive;
}

html, body, div, span, section, p, a, ul, ol, li, input, textarea, dl, dd, dt, table, caption, figcaption, figure, button, article, address, pre {
  font-family: 'Raleway', sans-serif;
}

/* ==========================================================================
  Browser Upgrade Prompt
  ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
  Author's custom styles
  ========================================================================== */

  /* hide horizontal scrollbars, since we use the vertical ones to scroll to the right */
  body {
    overflow-x: hidden;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    height: 56px;
    width: 100%;
    overflow: hidden;
    z-index: 750;
  }

  .main-content {
    overflow-y: auto;
  }

  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 750;
    background-color: #f8f9fa !important;
  }

  .company-name {
    font-weight: 700;
    color: #3F7E29;
  }

  .footer-social-nav .list-inline-item {
    height: 34px;
    width: 34px;
    line-height: 34px;
    text-align: center;
    border-radius: 50%;
    transition: all ease-in 0.3s;
    background-color: #3F7E29;
  }

  .fb-bg:hover {
    background-color: #4868A5;
  }

  .twitter-bg:hover {
    background-color: #00A2EC;
  }

  .gplus-bg:hover {
    background-color: #EF403B;
  }

  .footer-social-nav li a {
    color: #fff;
  }

  @media only screen and (max-width: 575px) {
    .copyright-act {
      margin-bottom: .5rem;
    }
  }

  .heading-bottom-border {
    position: relative;
  }

  .heading-bottom-border::after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    content: '';
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  }

/* ==========================================================================
  Landing Page styles
  ========================================================================== */

.landing-tile-wrapper {
  height: auto;
  width: 100%;
}

.landing-tile {
  width: 100%;
  height: auto;
  opacity: 0.65;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.tile-title {
  font-family: 'Arima Madurai', cursive;
  font-size: 3em;
  color: #fff;
  text-transform: uppercase;
  transition: color ease-in-out 0.4s;
}

.landing-tile:hover {
  opacity: 0.85;
  cursor: pointer;
}

.landing-tile:hover .tile-title {
  color: #000;
}

.landing-tile > .fa {
  color: #fff;
  transition: color ease-in-out 0.4s;
  margin-bottom: 0.5rem;
}

.landing-tile:hover .fa {
  color: #1a1a1a;
}

.tile-home {
  background: url('../img/bg2.jpg') center center scroll;
  background-size: cover;
}

.tile-about {
  background: url('../img/bg6.jpg') center center scroll;
  background-size: cover;
}

.tile-services {
  background: url('../img/bg1.jpg') center center scroll;
  background-size: cover;
}

.tile-products {
  background: url('../img/bg3.jpg') center center scroll;
  background-size: cover;
}

.tile-portfolio {
  background: url('../img/bg4.jpeg') center center scroll;
  background-size: cover;
}

.tile-contact {
  background: url('../img/bg5.jpg') center center scroll;
  background-size: cover;
}

.tile-home .landing-tile {
  background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
}

.tile-about .landing-tile {
  background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
}

.tile-services .landing-tile {
  background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
}

.tile-products .landing-tile {
  background-image: linear-gradient(to top, #feada6 0%, #f5efef 100%);
}

.tile-portfolio .landing-tile {
  background-image: linear-gradient(to right, #ff758c 0%, #ff7eb3 100%);
}

.tile-contact .landing-tile {
  background-image: linear-gradient(-20deg, #ddd6f3 0%, #faaca8 100%, #faaca8 100%);
}

/* ==========================================================================
  Navigation Styles
  ========================================================================== */

  @media only screen and (max-width: 991px) {
    #technoUniverseNavbar {
      position: fixed;
      background-color: #f8f9fa !important;
      width: 100%;
      left: 0;
      top: 56px;
      right: 0;
      padding-left: 2rem;
    }
  }

/* ==========================================================================
  Home Page Styles
  ========================================================================== */

  #fullpage section {
    text-align: center;
  }

  #first-section {
    background: url('../img/bg1.jpg') no-repeat center center scroll;
    background-size: cover;
    width: 100%;
  }

  .section-img {
    transition: all ease-in 0.4s;
  }

  .section-title {
    font-size: 3.4rem;
    color: #f49;
    line-height: 5rem;
    transition: all ease-in 0.4s;
  }

  .section-subtitle {
    font-size: 2.5rem;
    color: #3F7E29;
    transition: all ease-in 0.5s;
  }

  #second-section, #third-section, #fourth-section {
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
    width: 100%;
  }

/* ==========================================================================
  About Us Page Styles
  ========================================================================== */

  /**
    * important: keep position fixed, you can however use top:0 instead of bottom:0
    * if you want to make it stick to the top of the browser
    */
  .scroll {
    position: fixed;
    bottom: 0;
    left: 0;
  }

  .horizon {
    line-height: 0;
    z-index: 100;
    width: 3000px;
  }

  .middle {
    z-index: 250;
    line-height: 0;
    width: 4500px;
  }

  .front {
    z-index: 500;
    top: 150px;
    width: 6000px;
  }

  .intro {
    position: absolute;
    left: 400px;
    top: 0px;
    padding-right: 50px;
  }

  .page {
    top: 0px;
    width: 500px;
    background: white;
    padding: 10px 30px;
    border: 1px #eee solid;
    position: absolute;
  }

  .description {
    left: 1500px;
  }

  .documentation {
    left: 2450px;
    width: 700px;
  }

  .options {
    width: 700px;
    left: 3800px;
  }

  .download {
    width: 500px;
    left: 5100px;
  }

/* ==========================================================================
  Services Page Styles
  ========================================================================== */

  #techno-services-main {
    margin-top: 45px;
    background: url('../img/services-bg.jpg') 50% 50% no-repeat scroll;
    background-size: cover;
  }

/* ==========================================================================
  Products Page Styles
  ========================================================================== */

  #techno-product-main {
    margin-top: 45px;
    background-image: linear-gradient(to top, #feada6 0%, #f5efef 100%);
  }

  .prod-one.shutter-in-vertical::before {
    background: url('../img/bg1.jpg') center center scroll;
    background-size: cover;
  }

  .prod-two.shutter-in-vertical::before {
    background: url('../img/bg2.jpg') center center scroll;
    background-size: cover;
  }

  .prod-three.shutter-in-vertical::before {
    background: url('../img/bg3.jpg') center center scroll;
    background-size: cover;
  }

  .product-img {
    transition: all ease-in 0.4s;
    opacity: 0.6;
  }

  .product-title {
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    transition: all ease-in 0.4s;
  }

  .product-desc {
    opacity: 0.0;
    transition: all ease-in 0.5s;
  }

  .product-box:hover .product-desc {
    opacity: 1.0;
  }

  .product-box:hover .product-img {
    justify-content: start !important;
    opacity: 1.0;
  }

  .product-box:hover .product-title {
    background: none;
  }

/* ==========================================================================
  Portfolio Page Styles
  ========================================================================== */

  #techno-portfolio-main {
    margin-top: 45px;
  }

  .folio-container {
    overflow-x: auto;
  }

  .folio-one {
    background: url('../img/bubble1.jpg') center center scroll;
  }

  .folio-two {
    background: url('../img/bubble2.jpg') center center scroll;
  }

  .folio-three {
    background: url('../img/bubble3.jpg') center center scroll;
  }

  .folio-four {
    background: url('../img/bubble4.jpg') center center scroll;
  }

  .folio-five {
    background: url('../img/bubble5.jpg') center center scroll;
  }

  .folio-six {
    background: url('../img/bubble6.jpg') center center scroll;
  }

  .folio {
    background-size: cover;
    transition: all ease-in-out 0.4s;
    overflow-y: auto;
  }

  .folio-head {
    writing-mode: vertical-rl;
  }

  .folio-title {
    /* writing-mode: vertical-rl; */
    transform: rotate(180deg);
    transition: all ease-in 0.4s;
  }

  .folio-content {
    display: none;
    transition: all ease-in 0.4s;
  }

  .folio-img-box {
    display: none;
    transition: all ease-in 0.4s;
  }

  .folio:hover {
    flex: 0 0 30%;
    max-width: 30%;
  }

  .folio:hover .folio-head {
    writing-mode: horizontal-tb;
  }

  .folio:hover .folio-title {
    /* writing-mode: horizontal-tb; */
    transform: rotate(0deg);
  }

  .folio:hover .folio-content {
    display: initial;
  }

  .folio:hover .folio-img-box {
    display: initial;
  }

  @media only screen and (max-width: 767px) {
    .folio:hover {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }

/* ==========================================================================
  Contact Us Page Styles
  ========================================================================== */

  #techno-contact-main {
    margin-top: 45px;
    background-image: linear-gradient(-20deg, #ddd6f3 0%, #faaca8 100%, #faaca8 100%);
  }

/* ==========================================================================
  Author's custom animation
  ========================================================================== */

  .radial-in {
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition: color 300ms;
    transition: color 300ms;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  .radial-in::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    border-radius: 100%;
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition: 300ms ease-out;
    transition: 300ms ease-out;
  }

  .radial-in:hover::before {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  .shutter-in-vertical {
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%) !important;
    -webkit-transition: color 300ms;
    transition: color 300ms;
    position: relative;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
  }

  .shutter-in-vertical::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url('../img/bg1.jpg') center center scroll;
    background-size: cover;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition: 300ms ease-out;
    transition: 300ms ease-out;
  }

  .shutter-in-vertical:hover::before {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }

  .sweep-to-top {
    position: relative;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: color 1000ms;
    transition: color 1000ms;
  }

  .sweep-to-top::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2098d1;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition: 300ms ease-out;
    transition: 300ms ease-out;
  }

  .sweep-to-top:hover::before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }

/* ==========================================================================
  Helper classes
  ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  -webkit-clip-path: none;
  clip-path: none;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
      (-webkit-min-device-pixel-ratio: 1.25),
      (min-resolution: 1.25dppx),
      (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *::before,
    *::after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]::after {
        content: " (" attr(href) ")";
    }

    abbr[title]::after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]::after,
    a[href^="javascript:"]::after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
